.idea
**/venv/

# ========================
# Java
**/*.class
*.7z
*.safetensors
*.json

# IDE / ビルド
/bin/
/out/
/target/
*.jar
*.war
# ========================

"mizumoto_project/questionnare/*.json" 
